Checkpoint Pandas

In [115]:
import numpy as np
import pandas as pd

exam_data = {'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
 }

#1
df=pd.DataFrame(exam_data)
print (df)
print('')
print (df.head(3))

  labels       name  score  attempts qualify
0      a  Anastasia   12.5         1     yes
1      b       Dima    9.0         3      no
2      c  Katherine   16.5         2     yes
3      d      James    NaN         3      no
4      e      Emily    9.0         2      no
5      f    Michael   20.0         3     yes
6      g    Matthew   14.5         1     yes
7      h      Laura    NaN         1      no
8      i      Kevin    8.0         2      no
9      j      Jonas   19.0         1     yes

  labels       name  score  attempts qualify
0      a  Anastasia   12.5         1     yes
1      b       Dima    9.0         3      no
2      c  Katherine   16.5         2     yes

In [104]:
#2
i=(df[(np.isnan(df.score))]).index
print(i)
df1=df.drop(i,axis=0)
print(df1)

Index(['d', 'h'], dtype='object')
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [95]:
#3
df.loc[:,['name','score']]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [117]:
#4
Exam_Data2={'labels':'k',
'name': 'Suresh',
'score': 15.5,
'attempts': 1,
'qualify': 'yes'}
df=df.append(Exam_Data2,ignore_index=True)
print(df)

   labels       name  score  attempts qualify
0       a  Anastasia   12.5         1     yes
1       b       Dima    9.0         3      no
2       c  Katherine   16.5         2     yes
3       d      James    NaN         3      no
4       e      Emily    9.0         2      no
5       f    Michael   20.0         3     yes
6       g    Matthew   14.5         1     yes
7       h      Laura    NaN         1      no
8       i      Kevin    8.0         2      no
9       j      Jonas   19.0         1     yes
10      k     Suresh   15.5         1     yes

In [121]:
#5
df2=df.drop('attempts',axis=1)
print(df2)

   labels       name  score qualify
0       a  Anastasia   12.5     yes
1       b       Dima    9.0      no
2       c  Katherine   16.5     yes
3       d      James    NaN      no
4       e      Emily    9.0      no
5       f    Michael   20.0     yes
6       g    Matthew   14.5     yes
7       h      Laura    NaN      no
8       i      Kevin    8.0      no
9       j      Jonas   19.0     yes
10      k     Suresh   15.5     yes

In [126]:
#6
n_row=df.shape[0]
list=[]
for i in range(n_row):
    if df2.score[i]>10:
        list.append(1)
    else:
        list.append(0)
print (list)
df2['success']=list
print(df2)

[1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1]
   labels       name  score qualify  success
0       a  Anastasia   12.5     yes        1
1       b       Dima    9.0      no        0
2       c  Katherine   16.5     yes        1
3       d      James    NaN      no        0
4       e      Emily    9.0      no        0
5       f    Michael   20.0     yes        1
6       g    Matthew   14.5     yes        1
7       h      Laura    NaN      no        0
8       i      Kevin    8.0      no        0
9       j      Jonas   19.0     yes        1
10      k     Suresh   15.5     yes        1